p {
  color: rgb(123, 0, 255);
  text-align: center;
  border-style: inset;
}
h1 {
  color: rgb(255, 0, 119);
  text-align: center;
  border-style: solid;
}
p a{
  color: rgb(0, 89, 255);
  text-align: center;
  border-style: dotted;
  font-style: oblique
}
h1 {
  font-size: 50px;
}
p a {
  font-size: 30px;
}
body {
  background-color: rgb(217, 230, 173);
}
h1 {
  background-color: rgb(128, 81, 0);
}
p {
  background-color: yellow;
}
h1 {
  text-shadow: 2px 2px rgb(255, 0, 187);
}